.button{
    font-size: $font-size-large;
    background: $blue;
    padding: $s-size;
    font-weight: 300;
    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--link{
    background: none;
    padding: 0
}

.button--secondary{
    background: #888;
}